.footer {
    background-color: #282c34;
    color: rgba(214, 230, 245, 0.925);
    padding: 10px;
    text-align: center;

    .github-link,
    .email-link {
        color: rgba(214, 230, 245, 0.925);
        margin: 0 15px;
        display: inline-block;

        &:hover {
            color: #61dafb; // 아이콘에 마우스를 올렸을 때 색상 변경
        }
    }
}